.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 202px;
    gap: 32px;
    margin-top: 180px;
}

.about_container {
    display: grid;
    place-items: center;
    width: 1216px;
    height: 242px;
    background-color: #1c1c1c;
    border-radius: 16px;
}

.about {
    display: grid;
    grid-template-columns: 3fr 5fr;
    color: white;
    width: 1082px;
    height: 162px;
}

.about section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_container .about section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #999999;
    padding-right: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

.about_container .about section:last-child {
    padding-left: 72px;
    color: #999999;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

._about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}